.container{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background:rgb(179, 220, 255);
    border-radius: 5px;
    margin-left: 30%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
input {
    width: 350px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
}
select {
    width: 150px;
    height:20px;
    margin-bottom: 20px
}
button {
    width: 150px;
    background-color: rgb(51, 160, 255) ;
    border: none;
    padding: 5px 20px;
    border-radius: 6px; 
    margin-bottom: 30px;
}
